<main id="swap-home-div" class="swap-div slide-it">
<h1 style="text-align: center; padding-top: 80px; padding-bottom: 40px">
  Hello!
</h1>
<section class="about-wp">
  <div class="about">
    <p>
      Last year I co-founded a company with Daniel Johnson and Russel Escove
      called ForEveryone.ai. We developed a working prototype before stopping.
      PocketPR uses open AI to connect YouTube content creators with their
      content and comment section. Our aim was to help facilitate conversations
      between the LLM and the content creator. Technology is used in this
      project include Clerk for user authentication, Supabase/Postgres for
      database storage, Vercel for hosting, NextJS as our full stack framework,
      LangChain for our open AI interactions, OpenAI's ChatGPT 4.0 and Ada
      models for chat and embedding features, Vercel-UI kit for our front end,
      YouTube Data API to gather comments and captions for our users' YouTube
      videos, and more. I have made contributions across our tech stack, but
      with more of an emphasis on the back end. We currently have a few
      test-users using our application, while we await approval from google for
      production use of the YouTube Data API.
    </p>
    <hr />
    <p>
      I completed a full stack web development Bootcamp at UCLA extension from
      June 2022 to August 2022. Through the Bootcamp, I learned technologies,
      such as HTML, CSS, JavaScript, J-query, React, node, SQL, MySQL, MongoDB,
      sequelize, mongoose, GraphQL, and others. I created roughly 20 small solo
      projects, and three larger group projects. The Bootcamp concluded with a
      demo day, where myself and another team member presented our e-commerce
      application to a group of developers.
    </p>

    <hr />
    <p>
      Since completing the web development Bootcamp, I have participated in
      several hackathons. In October 2022, I worked on an application called
      Surpay, which used technologies such as Blockchain, Solidity, Hardhat,
      Mumbai testnet, NextJS, MySQL, and others, to create a SAAS application
      where companies could create a survey, fund a smart contract, then users
      could take the survey and receive a portion of the funded contract after
      enough survey takers had participated. In February 2023, I participated in
      another Web3 hackathon hosted by Chainlink, where I wrote the smart
      contract for the application. The idea for this application was to create
      an E-sports betting platform, where streamers could place challenges with
      their audience, and the audience could bet via smart contract on whether
      or not the streamer would be able to accomplish a challenge.
    </p>

    <hr />
    <p>
      I also participated in two smaller hackathons through the DearJuniorDev
      discord group. The first project was an educational website about the
      solar system, which was required to include a database. The second project
      was to create a discord bot that would improve the discord community in
      some way. We chose to create a bot that would make it easier to facilitate
      future hackathons.
    </p>

    <hr />
    <p>
      Prior to the bootcamp, I took a self-paced Udemy course called 100 days of
      Python, where I learned how to create CLI applications, web applications,
      using flask, and basics of using Jupyter notebooks for data analysis and
      visualization.
    </p>
    <hr />
    <p>
      I am currently continuing to work on pocketPR and teaching an Introduction
      to Web Design at Cypress College while I look for regular employment as a
      full stack developer. I am continuously learning about new technologies
      through the website frontend Masters. I have taken a variety of courses
      since the beginning of 2023, including: introduction to NextJS, Vim
      Fundamentals, Basics of Go, Advanced CSS with flex box and grid, Rust for
      Typescript Developers, Web Design for Developers, How to Create
      High-converting websites, AWS Lambda with Serverless, the Last Algorithms
      Course You'll Need, Digging into Node, the Hard Parts of Node, Full stack
      for Front End Developers, and others. I practice at least one Leetcode
      question each day, and host a local software developer meetup each week.
    </p>
    <hr />
    <p>
      Prior to my journey into software development, I worked as a musician and
      adjunct music instructor at various colleges throughout Los Angeles from
      2013-2023. I have a bachelors, masters, doctorate of music from the
      University of Southern California, where I majored in jazz guitar.
    </p>
  </div>
    {{template "homelink.html" .}}
  <script src="/static/js/scripts.js" type="text/javascript"></script>
</section>
</main>
