<h1 class="swap-home-div" style="text-align: center; padding-top: 80px; padding-bottom: 40px">
  Hello!
</h1>
<section class="about-wp swap-home-div">
  <div class="about">
    <p>
      My name is Keegan Anglim. I am the cofounder and CTO of ForEveryone.ai.
      The company is currently working on a web application called pocketPR.
      PocketPR uses open AI to connect YouTube content creators with their
      content and comment section. Our aim is to help facilitate conversations
      between the LLM and the content creator. Technology is used in this
      project include Clerk for user authentication, Supabase/Postgres for
      database storage, Vercel for hosting, NextJS as our full stack framework,
      LangChain for our open AI interactions, OpenAI's ChatGPT 4.0 and Ada
      models for chat and embedding features, Vercel-UI kit for our front end,
      YouTube Data API to gather comments and captions for our users' YouTube
      videos, and more. I have made contributions across our tech stack, but
      with more of an emphasis on the back end. We currently have a few
      test-users using our application, while we await approval from google for
      production use of the YouTube Data API.
    </p>
    <hr />
    <p>
      I completed a full stack web development Bootcamp at UCLA extension from
      June 2022 to August 2022. Through the Bootcamp, I learned technologies,
      such as HTML, CSS, JavaScript, J-query, React, node, SQL, MySQL, MongoDB,
      sequelize, mongoose, GraphQL, and others. I created roughly 20 small solo
      projects, and three larger group projects. The Bootcamp concluded with a
      demo day, where myself and another team member presented our e-commerce
      application to a group of developers.
    </p>

    <hr />
    <p>
      Since completing the web development Bootcamp, I have participated in
      several hackathons. In October 2022, I worked on an application called
      Surpay, which used technologies such as Blockchain, Solidity, Hardhat,
      Mumbai testnet, NextJS, MySQL, and others, to create a SAAS application
      where companies could create a survey, fund a smart contract, then users
      could take the survey and receive a portion of the funded contract after
      enough survey takers had participated. In February 2023, I participated in
      another Web3 hackathon hosted by Chainlink, where I wrote the smart
      contract for the application. The idea for this application was to create
      an E-sports betting platform, where streamers could place challenges with
      their audience, and the audience could bet via smart contract on whether
      or not the streamer would be able to accomplish a challenge.
    </p>

    <hr />
    <p>
      I also participated in two smaller hackathons through the DearJuniorDev
      discord group. The first project was an educational website about the
      solar system, which was required to include a database. The second project
      was to create a discord bot that would improve the discord community in
      some way. We chose to create a bot that would make it easier to facilitate
      future hackathons.
    </p>

    <hr />
    <p>
      Prior to the bootcamp, I took a self-paced Udemy course called 100 days of
      Python, where I learned how to create CLI applications, web applications,
      using flask, and basics of using Jupyter notebooks for data analysis and
      visualization.
    </p>
    <hr />
    <p>
      I am currently continuing to work on pocketPR and teaching an Introduction
      to Web Design at Cypress College while I look for regular employment as a
      full stack developer. I am continuously learning about new technologies
      through the website frontend Masters. I have taken a variety of courses
      since the beginning of 2023, including: introduction to NextJS, Vim
      Fundamentals, Basics of Go, Advanced CSS with flex box and grid, Rust for
      Typescript Developers, Web Design for Developers, How to Create
      High-converting websites, AWS Lambda with Serverless, the Last Algorithms
      Course You'll Need, Digging into Node, the Hard Parts of Node, Full stack
      for Front End Developers, and others. I practice at least one Leetcode
      question each day, and host a local software developer meetup each week.
    </p>
    <hr />
    <p>
      Prior to my journey into software development, I worked as a musician and
      adjunct music instructor at various colleges throughout Los Angeles from
      2013-2023. I have a bachelors, masters, doctorate of music from the
      University of Southern California, where I majored in jazz guitar.
    </p>
  </div>

  <a id="home-lnk" href="/">
    <svg
      class="home-btn"
      width="73"
      height="73"
      viewBox="0 0 73 73"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <circle cx="36.5" cy="36.5" r="36.5" fill="#BB4554" />
      <g clip-path="url(#clip0_1_105)">
        <path
          d="M52 38C51.8684 38.0008 51.738 37.9755 51.6161 37.9258C51.4943 37.876 51.3835 37.8027 51.29 37.71L37 23.41L22.71 37.71C22.5187 37.8738 22.2727 37.9594 22.021 37.9497C21.7693 37.94 21.5306 37.8357 21.3525 37.6576C21.1744 37.4795 21.07 37.2407 21.0603 36.9891C21.0506 36.7374 21.1362 36.4913 21.3 36.3L36.3 21.3C36.4874 21.1138 36.7408 21.0092 37.005 21.0092C37.2692 21.0092 37.5227 21.1138 37.71 21.3L52.71 36.3C52.8476 36.4404 52.9408 36.6182 52.9779 36.8113C53.015 37.0043 52.9944 37.204 52.9186 37.3854C52.8429 37.5668 52.7153 37.7218 52.552 37.8312C52.3886 37.9405 52.1966 37.9992 52 38Z"
          fill="white"
        />
        <path
          d="M37 26.79L25 38.83V51C25 51.5304 25.2107 52.0391 25.5858 52.4142C25.9609 52.7893 26.4696 53 27 53H34V43H40V53H47C47.5304 53 48.0391 52.7893 48.4142 52.4142C48.7893 52.0391 49 51.5304 49 51V38.76L37 26.79Z"
          fill="white"
        />
      </g>
      <defs>
        <clipPath id="clip0_1_105">
          <rect
            width="36"
            height="36"
            fill="white"
            transform="translate(19 19)"
          />
        </clipPath>
      </defs>
    </svg>
  </a>
  <script src="/static/js/scripts.js" type="text/javascript"></script>
</section>
