<main id="swap-home-div" class="swap-div">
  <h1
    style="
      text-align: center;
      padding-top: 80px;
      padding-bottom: 40px;
      font-size: 36px;
    "
  >
    Blog
  </h1>
  <section class="about-wp">
    <div class="about">
      {{range .}}
      <div>
        <a href="/blog/{{.ID}}">
          <h2 style="padding-bottom: 0">{{.Title}}</h2>
        </a>
        <p style="font-weight: normal">{{.Description}}</p>
      </div>
        {{end}}
    </div>

    {{template "homelink.html" .}}

    <script src="/static/js/scripts.js" type="text/javascript"></script>
  </section>
</main>
