<header>
  <div>
    <a
      id="about"
      href="/about"
      hx-swap="outerHTML"
      hx-target=".swap-div"
      hx-get="/about"
      hx-trigger="click"
      hx-push-url="/about"
      >about</a
    >
  </div>
  <div>
    <a
      id="projects"
      href="/projects"
      hx-swap="outerHTML"
      hx-target=".swap-div"
      hx-get="/projects"
      hx-trigger="click"
      hx-push-url="/projects"
      >projects</a
    >
  </div>
  <div>
    <a
      id="blog"
      href="/blog"
      hx-swap="outerHTML"
      hx-target=".swap-div"
      hx-get="/blog"
      hx-trigger="click"
      hx-push-url="/blog"
      >blog</a
    >
  </div>
</header>
