  {{template "head.html" .}}
  <body>

    {{template "header.html" .}}

    <main class="home-main swap-div slide-it">
      <div class="video-wrapper">
        <video id="home-vid" loop autoplay muted width="400">
          <source src="/videos/website-funny.MP4" type="video/mp4" />
        </video>
      </div>
      <div>
        <h1>Keegan Anglim</h1>
        <h2 style="font-size: 24px; font-weight: normal;">Software Engineer</h2>
      </div>
    </main>

    <script src="/static/js/scripts.js"></script>
  </body>
</html>
