  {{template "head.html" .}}
  <body>

    {{template "header.html" .}}

    <main class="home-main swap-div slide-it">
      <div class="video-wrapper">
        <video id="home-vid" loop autoplay muted width="400">
          <source src="/videos/website-funny.MP4" type="video/mp4" />
        </video>
      </div>
      <div class="home-hero">
        <h1>Keegan Anglim</h1>
        <h2 style="font-size: 24px; font-weight: normal;">Software Engineer</h2>
        <!-- mailto link -->
        <a class="email-link" href="mailto:keegananglim@gmail.com?subject=Hi!!&body=So%2C%20let%20me%20just%20first%20start%20out%20by%20saying%20that%2C%20you%27re%20kind%20of%20awesome..">Email</a>
      </div>
    </main>

    <script src="/static/js/scripts.js"></script>
  </body>
</html>
