{{block "main" .}}
<main class="home-main swap-div">

  <div class="video-wrapper">
    <video id="home-vid" loop autoplay muted width="400">
      <source src="/videos/website-funny.MP4" type="video/mp4" />
    </video>
  </div>

  <div>
    <h1>Keegan Anglim</h1>
    <h2 style="font-size: 24px; font-weight: normal;">Software Developer</h2>
    <!-- mailto link -->
    <a class="email-link" href="mailto:keegananglim@gmail.com?subject=Hi!!&body=So%2C%20let%20me%20just%20first%20start%20out%20by%20saying%20that%2C%20you%27re%20kind%20of%20awesome..">Email</a>
  </div>
  <script>

    var homeVidEl = document.querySelector("#home-vid");

    if (window.innerWidth < 600) {
      homeVidEl.setAttribute("width", "280px");
    } 
  </script>
</main>
{{end}}
