<main id="swap-home-div" class="swap-div">
  <h1 style="text-align: center; padding-top: 80px">Projects</h1>
  <div class="github-link">
    <a href="https://www.github.com/guitarkeegan" style="padding-bottom: 40px"
      >my github</a
    >
  </div>
  <section class="about-wp">
    <div class="about">
      {{range .}}
      <a href="/projects/{{.Id}}">
        <h2>{{.Title}}</h2>
      </a>
      {{if .Live}}
      <a href="{{.Live}}">{{.Live}}</a>
      {{end}}
      <p class="project-abstract">{{.Des1}}</p>
      {{end}}
    </div>
    {{template "homelink.html" .}}
    <script src="/static/js/scripts.js" type="text/javascript"></script>
  </section>
</main>
